div div {
	width: 100px;
	height: 30px;
	border: 2px solid black;
	margin: 5px;
	padding: 5px;
}

#aqua{
	background-color:#00FFFF;
}
#blue{
	background-color:#0000FF;
}
#Coral{
	background-color:#FF7F50;
}
#DarkGoldenRod{
	background-color:#B8860B;
}
#DarkSlateGrey{
	background-color:#2F4F4F;
}
#DeepPink{
	background-color:#FF1493;
}
#Gold{
	background-color:#FFD700;
}
#GreenYellow{
	background-color:#ADFF2F;
}
#LightSeaGreen{
	background-color:#20B2AA;
}
#Red{
	background-color:#FF0000;
}
#jaja{
	background-color: black;
}