
html{
	margin: 0;
	padding: 0;
}

body{
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 0;
	padding: 0;
	text-align: center;
	max-width: 100%;
	background-color: #F0F8FF;
}
/*Size of reactbuttons*/
img {
	width: 75%;
	height: 75%;
    display: block;
    margin: auto;
}

img:hover {
    cursor: pointer;
    opacity: 0.5;
}

#submit {
    background-color: green;
    width: 23%;
    padding: 10px;
    margin-left: 77%;
    height: 70px;
    padding-top: 25px;
}


#submit:hover {
    opacity: 0.5;
    cursor: pointer;
}


/*styling input field with submit button.
Make them on same line*/
.inputFormWithButton{
	/*display: inline-block;*/
}

/*Styling reaction buttons, making them on same line*/
.reactButtons{
	display: inline-block;
	margin-top: 5%;
}

/*position the counter-numbers next to react buttons*/
.counters{
	position: absolute;
	display: inline-block;
	left: 67%;
	top: 64%;
	font-size: 250%;
	z-index: 1;
}

.reactButtonsCounter {
	position: relative;
}

#topVoted{
	background-color: goldenrod;
	width: 100%;
	border: 2px solid black;
	display: flex;
}

#content, #upVoteContent{
	margin-top: 5%;
	margin-left: 0;
}

.questionBox{
	width: 100%;
	border: 1px solid black;
	display: flex;
	background-color: #03A9F4;
}

.questionText{
	width: 90%;
	padding: 5px;
	display: inline-block;
	text-align: left;
}
.votebuttons{
	position: relative;
	right: 0;
	display: inline-block;
	flex: 1;
}

#leader{
	font-size: 250%;
	padding-top: 5%;
}

/*
.upVoteButton{
   position: relative;
   top: 0;
}

.totalVotes{

}
.downVoteButton{
   position: relative;
   bottom: 0;
}
*/

@media screen and (max-width: 1024px) {
	body {
		margin-left: 10%;
		margin-right: 10%;
	}

	div {
		margin: 0;
	}

	#content {
		overflow-y: scroll;
		padding-bottom: 40%;
		margin: 0;
		max-height: 20%;
	}

	table {
		position: fixed;
		bottom: 9%;
		left: 0;
		background-color: #F0F8FF;
		z-index: 2;
		margin-left: 10%;
		margin-right: 10%;
		padding-bottom: 9%;
	}

	img {
		width: 50%;
		height: 50%;
		margin-bottom: 0;
		margin-top: 0;
	}

	.counters {
		left: 57%;
		top: 47%;
	}

	.reactButtons {
		height: 50%;
		margin: 0;
		padding: 0;
	}

	div.inputFormWithButton{
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		z-index: 3;
		padding: 0;
		margin: 0;
		background-color: #F0F8FF;;
		border-radius: 7px;
	}

	#question {
		width: 76.9%;
		border: 3px solid black;
	}

	#submit {
		position: fixed;
		right: 10%;
		bottom: 0;
		overflow-y: hidden;
		overflow-x: hidden;
		width: 23%;
		background-color: green;
		padding: 0;
		margin-left: 77%;
		z-index: 2;
		border: 3px solid black;
	}

}

@media screen and (max-width: 768px) {

	body {
		margin-left: 5%;
		margin-right: 5%;
	}

	table {
		bottom: 6%;
		margin-left: 5%;
		margin-right: 5%;
		padding-bottom: 6%;
	}

	.counters {
		left: 56%;
		top: 47%;
		font-size: 200%;
	}
}

@media screen and (max-width: 414px) {

	body {
		margin-left: 0.1%;
		margin-right: 0.1%;
	}

	table {
		bottom: 10%;
		margin-left: 0.1%;
		margin-right: 0.1%;
		padding-bottom: 10%;
	}

	.counters {
		left: 54%;
		top: 42%;
		font-size: 100%;
	}
}


