
html{
	margin: 0;
	padding: 0;
}

body{
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 0;
	padding: 0;
	text-align: center;
	max-width: 100%;
	background-color: #F0F8FF;
}

div {
	margin: 7px 0 7px 0;
	border-radius: 7px;
}
/*Size of reactbuttons*/
img {
	width: 75%;
	height: 75%;
    display: block;
    margin: auto;
}

img:hover {
    cursor: pointer;
    opacity: 0.5;
}

input  {
	width: 77%;
	padding: 12px 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	text-align: center;
	float: left;
	height: 70px;
}

input [type=submit] {
	width: 77%;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

table {
	background-color: #F0F8FF;;
}

#submit {
    background-color: green;
    width: 23%;
    padding: 10px;
    margin-left: 77%;
    height: 70px;
    padding-top: 25px;
}


#submit:hover {
    opacity: 0.5;
    cursor: pointer;
}


/*styling input field with submit button.
Make them on same line*/
.inputFormWithButton{
	/*display: inline-block;*/
	height: 70px;
}

/*Styling reaction buttons, making them on same line*/
.reactButtons{
	display: inline-block;
	margin-top: 5%;
}

/*position the counter-numbers next to react buttons*/
.counters{
	position: absolute;
	display: inline-block;
	left: 67%;
	top: 64%;
	font-size: 250%;
	z-index: 1;
}

.reactButtonsCounter {
	position: relative;
}

#topVoted{
	background-color: goldenrod;
	width: 100%;
	border: 2px solid black;
	display: flex;
}

#content, #upVoteContent{
	margin-top: 5%;
	margin-left: 0;
}

.questionBox{
	width: 100%;
	border: 1px solid black;
	display: flex;
	background-color: #03A9F4;
}

.questionText{
	width: 90%;
	padding: 5px;
	display: inline-block;
	text-align: left;
}
.votebuttons{
	position: relative;
	right: 0;
	display: inline-block;
	flex: 1;
}

#leader{
	font-size: 250%;
	padding-top: 5%;
}

/*
.upVoteButton{
   position: relative;
   top: 0;
}

.totalVotes{

}
.downVoteButton{
   position: relative;
   bottom: 0;
}
*/

@media screen and (max-width: 1024px) {
	body {
		margin-left: 10%;
		margin-right: 10%;
	}

	div {
		margin: 7px 0 7px 0;
	}

	#content {
		padding-bottom: 40%;
		margin: 0;
		max-height: 20%;
	}

	table {
		position: fixed;
		bottom: 6%;
		left: 0;
		background-color: #F0F8FF;
		z-index: 2;
		padding-bottom: 9%;
	}

	img {
		width: 50%;
		height: 50%;
		margin-bottom: 0;
		margin-top: 0;
	}

	.reactButtons {
		height: 50%;
		margin: 0;
		padding: 0;
	}

	.counters {
		left: 60%;
		top: 55%;
	}

	div.inputFormWithButton{
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		z-index: 3;
		padding: 0;
		margin: 0;
		background-color: #F0F8FF;
		border-radius: 7px;
	}

	#submit {
		position: fixed;
		right: 10%;
		bottom: 0;
		overflow-y: hidden;
		overflow-x: hidden;
		width: 23%;
		background-color: green;
		margin-left: 77%;
		z-index: 2;
		border: 3px solid black;
	}

	#question {
		width: 76.9%;
		border: 3px solid black;
	}

}

@media screen and (max-width: 768px) {

	/* Generak properties */

	table {
		background-color: #F0F8FF;
	}

	/* Width properties */
	body {
		margin-left: 5%;
		margin-right: 5%;
	}

	table {
		padding-left: 5%;
		padding-right: 5%;
	}

	.counters {
		left: 60%;
	}

	/* Height properties */

	table {
		bottom: 6%;
		padding-bottom: 20%;
	}

	.counters {
		top: 55%;
		font-size: 150%;
	}

}

@media screen and (max-width: 414px) {
	body {
		margin-left: 0.1%;
		margin-right: 0.1%;
	}

	table {
		bottom: 9%;
		margin-left: 0.1%;
		margin-right: 0.1%;
		padding-bottom: 9%;
	}

	.counters {
		left: 60%;
		top: 45%;
		font-size: 100%;
	}
}

@media screen and (max-width: 320px) {

	table {
		bottom: 11%;
		margin-left: 0.1%;
		margin-right: 0.1%;
		padding-bottom: 11%;
	}

	.counters {
		left: 60%;
		top: 42%;
		font-size: 100%;
	}
}
